body {
  text-align: center;
  background: linear-gradient(to right, rgb(170, 165, 165), rgb(5, 5, 5));
  font-family: 'Trebuchet MS';
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 24px;
}

a {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 18px;
  border-radius: 10px;
  margin:  auto;
  display:block;
  text-decoration: none;
   max-height: 50px;
  max-width: 350px;
  margin-bottom: 30px;

}

img {
  border-radius: 75px;
  margin-top: 20px;
}
